In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('DatafinitiElectronicsProductsPricingData.csv')

In [8]:
df.head(3)

,id,prices.amountMax,prices.amountMin,prices.availability,prices.condition,prices.currency,prices.dateSeen,prices.isSale,prices.merchant,prices.shipping,...,name,primaryCategories,sourceURLs,upc,weight,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,AVphzgbJLJeJML43fA0o,104.99,104.99,Yes,New,USD,"2017-03-30T06:00:00Z,2017-03-10T22:00:00Z,2017...",False,Bestbuy.com,NaN,...,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...,Electronics,https://www.amazon.com/Sanus-VLF410B1-10-Inch-...,7.93796E+11,32.8 pounds,NaN,NaN,NaN,NaN,NaN
1,AVpgMuGwLJeJML43KY_c,69.00,64.99,In Stock,New,USD,2017-12-14T06:00:00Z,True,Walmart.com,Expedited,...,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42015E+11,14 pounds,NaN,NaN,NaN,NaN,NaN
2,AVpgMuGwLJeJML43KY_c,69.00,69.00,In Stock,New,USD,2017-09-08T05:00:00Z,False,Walmart.com,Expedited,...,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Electronics,http://reviews.bestbuy.com/3545/4784804/review...,6.42015E+11,14 pounds,NaN,NaN,NaN,NaN,NaN

# removing unnecassary columns

In [9]:
# select only the desired columns
df = df[['id', 'name','brand', 'categories','sourceURLs']]

In [10]:
df.head(3)

,id,name,brand,categories,sourceURLs
0,AVphzgbJLJeJML43fA0o,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...,Sanus,"Audio & Video Accessories,TV Mounts,TV Accesso...",https://www.amazon.com/Sanus-VLF410B1-10-Inch-...
1,AVpgMuGwLJeJML43KY_c,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Boytone,"Stereos,Portable Bluetooth Speakers,TV, Video ...",http://reviews.bestbuy.com/3545/4784804/review...
2,AVpgMuGwLJeJML43KY_c,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Boytone,"Stereos,Portable Bluetooth Speakers,TV, Video ...",http://reviews.bestbuy.com/3545/4784804/review...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14592 entries, 0 to 14591
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          14592 non-null  object
 1   name        14592 non-null  object
 2   brand       14592 non-null  object
 3   categories  14592 non-null  object
 4   sourceURLs  14592 non-null  object
dtypes: object(5)
memory usage: 570.1+ KB

# Cleaning dataset

In [12]:
df.shape

(14592, 5)

In [13]:
df.isnull().sum()

id            0
name          0
brand         0
categories    0
sourceURLs    0
dtype: int64

In [14]:
df.dropna(inplace=True)

In [15]:
df.duplicated().sum()

13347

In [16]:
df.drop_duplicates(inplace=True)

In [17]:
df.isnull().sum()

id            0
name          0
brand         0
categories    0
sourceURLs    0
dtype: int64

In [23]:
df["name"] = df["name"].str.lower().replace("[^a-zA-Z0-9]", " ", regex=True)

# A funciton that will do all the steps
tokenization ( hello world) hello,word)                           
lowercase ( World = world)                                 
removing stopwords (the this for to)                                  
removing sepcial characters (#/+etc)                                   
stemming (base form | loving-love, moved-move)

In [28]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
stmer = SnowballStemmer('english')

In [32]:
def tokenization(txt):
    tokens = nltk.word_tokenize(txt.lower())
    stemming = [stmer.stem(w) for w in tokens if not w in stopwords.words('english') and w.isalnum()]
    return " ".join(stemming)

In [33]:
df['name'] = df['name'].apply(lambda x:tokenization(x))

In [37]:
# df['name']

0            sanus vlf410b1 super slim mount 37 84 inch tv
1           boyton 2500w home theater system black diamond
13       denaq ac adapt toshiba satellit 1700 1710 1715...
18       dreamwav tremor portabl bluetooth speaker gree...
23                               home theater system black
                               ...
14470    jbl 6 x 9 car speaker polypropylen cone pair b...
14485    hp probook 14 laptop intel core i5 4gb memori ...
14514    magellan roadmat 5 touchscreen portabl gps nav...
14548                   pmx840bt bluetooth power mixer mp3
14572                    naxa soundbar digit amplifi black
Name: name, Length: 1245, dtype: object

In [36]:
df['categories'] = df['categories'].apply(lambda x:tokenization(x))

In [41]:
df['name_cate'] = df['name'] + " " + df['categories']

In [42]:
df.head(3)

,id,name,brand,categories,sourceURLs,name_cate
0,AVphzgbJLJeJML43fA0o,sanus vlf410b1 super slim mount 37 84 inch tv,Sanus,audio video accessori tv mount tv accessori pa...,https://www.amazon.com/Sanus-VLF410B1-10-Inch-...,sanus vlf410b1 super slim mount 37 84 inch tv ...
1,AVpgMuGwLJeJML43KY_c,boyton 2500w home theater system black diamond,Boytone,stereo portabl bluetooth speaker tv video home...,http://reviews.bestbuy.com/3545/4784804/review...,boyton 2500w home theater system black diamond...
13,AVpe9FXeLJeJML43zHrq,denaq ac adapt toshiba satellit 1700 1710 1715...,DENAQ,comput offic comput accessori comput accessori...,http://www.bestbuy.com/site/denaq-ac-adapter-f...,denaq ac adapt toshiba satellit 1700 1710 1715...

# cosine similarity between two documents (in this case, product titles and descriptions

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
def cosine_sim(txt1,txt2):
    obj_tfidf = TfidfVectorizer(tokenizer=tokenization)
    tfidfmatrix = obj_tfidf.fit_transform([txt1,txt2])
    similarity = cosine_similarity(tfidfmatrix)[0][1]
    return similarity

# Recommend Products

In [46]:
def recommation(query):
    tokenized_query = tokenization(query)
    df['similarity'] = df['name_cate'].apply(lambda x: cosine_sim(tokenized_query,x))
    final_df = df.sort_values(by=['similarity'],ascending=False).head(20)[['name','brand','categories','sourceURLs']]
    return final_df
#     idx = df[df['name'] == query].index[0]

In [49]:
final_df = recommation('boytone   2500w 2 1 ch  home theater system   black diamond')